/* VARIABLES */

$highlight-color: #2FBA93;
$light-grey: #F5F5F5;
$text-grey: #737373;
$date-grey: #BFBFBF;

$mobile-breakpoint: 860px;
$small-breakpoint: 475px;
$xsmall-breakpoint: 376px;

$site-width: 800px;